---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=social
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-JkGqoKg7bgAVerJzklQIOil7wPk"
    body:
      encoding: UTF-8
      string: '{"activity":"Explore the nightlife of your city","type":"social","participants":1,"price":0.1,"link":"","key":"2237769","accessibility":0.32}'
  recorded_at: Mon, 15 Nov 2021 16:22:51 GMT
recorded_with: VCR 6.0.0
